services:
  api:
    image: shopebiznes123.azurecr.io/shop-api:latest
    ports:
      - 3000:8080
    environment:
      - APP_URL=http://localhost:8080
  app:
    build:
      context: .
      args:
        API_URL: http://localhost:3000
    ports:
      - 8080:80
